.gradle
/build/
gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wraper.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!.idea/codeStyleSettings.xml

### Eclipse ###
.settings
.mvn
.project
.editorconfig
.cache-main
.classpath
.project.bak
.websettings
.website-config
mvnw.cmd
mvnw

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# common ignore
*~
MANIFEST.MF
**/target/
**/project/
**/.settings
**/.vertx
tmp/
install/
.lib

*.class

# Package Files #
*.jar
*.war


# Locally stored "Eclipse launch configurations"
*.launch

# unix specific
.DS_Store
.directory

# static plugins
.pmd

# log files
*.log
*.csv
*.txt


# explicit ehcache working directories exclusion
/cache



